[Unit]
Description=Simple HTTP Server With Upload

[Service]
ExecStart=/bin/SimpleHTTPServerWithUpload.sh
Restart=always

[Install]
WantedBy=multi-user.target

